
* {
    font-family: 'Lato', sans-serif;
}

body {
  font-size: 14px;
}
/* 
.hero {
    background: rgba(10,10,10,.1);
    opacity: .1;
} */

header {

  background-image:  
  linear-gradient(
    rgba(120, 88, 154, 0.45), 
    rgba(120, 88, 154, 0.45)
  ),
  url("images/earicles2.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 450px; /* You must set a specified height */
  position: relative;
}

.navbar {
  background-color: transparent;
}

.sign-up-nav {
  border: 1px solid gray;
  border-radius: 8px;
}

h1 {
  /* bottom, left, right, top refer to parent element (header) which has position relative corresponding with this element's absolute position */
  color: black;
  left: 0;
  position: absolute; 
  right: 0;
  text-align: center;
}

.caps {
  font-weight: bold;
  text-transform: uppercase;
}


@media only screen and (max-width: 375px) {
  header {
    height: 30vh;
  }

  h1 {
    bottom: 3%;
    font-size: 1.5em;
  }

  section {
    padding: 6vw;
  }
  
  .wrapper {
    line-height: 1.2em;
    text-align: center;
  }

  .callout {
    margin: 1.9em 0;
  }

  #mc_embed_signup {
    margin: 1.9em 0;
  }

  .mc-field-group {
    margin: 1.5em 0;
  }

  input {
    border: none;
    border-bottom: 1px solid gray;
    font-size: 1em;
    width: 100%;
  }

  /* changes transparency of modal background */
  .modal-background {
    background-color: rgba(10,10,10,.65);
  }

  #mce-responses {
    background-color: white;
    border-radius: 6px;
    font-size: 1.3em;
    font-weight: bold;
    margin: 8vw;
    padding: 7em 1em;
    text-align: center;
    text-transform: uppercase;
  }

  .modal-close {
    background-color: black;
    border-radius: 50px;
  }

  #mc-embedded-subscribe {
    font-weight: bold;
  }
}

.callout {
    font-size: 16px;
    color: #78589A
}

.response #mce-success-response {
    color: purple !important;
}

.button {
    background: #78589A !important;
    color: white;
}

.header {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 10;
    font-size: 16px;
}

#mc_embed_signup div.mce_inline_error {
    background: white !important;
    color: red !important;
}


.info {
    font-size: 16px;

}

