.caps {
  text-transform: uppercase;
}


@media only screen and (max-width: 375px) {
  h2,
  .center,
  #mc-embedded-subscribe {
    text-align: center;
  }

  input {
    border: none;
    border-bottom: 1px solid gray;
  }
}

